body {
    background: white url("wallpaper.jpg") no-repeat;
}
h1{
    color:white;
}
label{
    color:white;
}
ul {
    list-style-type:circle;
    color: white;
}
ul:hover{
    list-style-type:disc;
    color: #BCF7EF;
}

li a, a{
    color: white;
}

li a:hover, a:hover{
    color: #BCF7EF;
    font-size: 20px;
}
p{
    color:orange;
}
form {
  width: 50%;
  margin: 0 auto;
}

